# Git
.git/
.gitignore
.gitattributes

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
app
vendor/

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# CI
.woodpecker/

# Docs
README.md

# Test
*_test.go
